extends layout
block content
  form(method="POST",action='/articles')
    | Title
    input(type='text',name='title')
    br
    | Content
    textarea(name='content')
    br
    | Slug
    input(type='text',name='slug')
    br
    button(type='submit')| Submit Article
