doctype html
html
  head
    title| Stephen Michelini. Developer.
    link(rel='stylesheet', type='text/css', href='style.css')
    link(href="https://fonts.googleapis.com/css?family=Titillium+Web|Lato",rel="stylesheet")
  body
    header
      h1| Stephen Michelini
      h2| Software Engineer.
    .card.half
      h3| About
      img.half(src="photo.jpg")
      p
        | My name is Stephen Michelini. I am a full-stack developer with expierence from networking all the way
        | to User Interface Design. I pride myself on making websites that users enjoy interacting with.
        | The way I view user unterface and backend development is that they should be in sync.
        | The most RESTful and greatest API in history is useless without a clean interface.
    
    .card
      h3| Projects
      p 
        | I have worked on many projects ranging from web development to embedded development. 
        | Feel free to take a look at my GitHub profile 
        a(href='https://github.com/sdmichelini')| here. 
    .card
      h3| Contact
      ul.contact
        li
          a(href='mailto:sdmichelini@gmail.com')| E-Mail
        li
          a(href='https://github.com/sdmichelini')| GitHub 
