doctype html
html
  head
    title| Stephen Michelini. Developer.
    link(rel='stylesheet', type='text/css', href='/public/style.css')
    link(href="https://fonts.googleapis.com/css?family=Titillium+Web|Lato",rel="stylesheet")
  body
    h1| #{article.title}
    p| #{article.content}
